.container-fluid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.example-container {
    overflow: hidden; 
    height: 100%;
}

.example-sidenav {
    margin-right: 10px;
    height: 100%;
}
.sideNavRow{
    padding: 0;
    height: 100%;
}
.appbody{
    flex-grow: 1;
}
