
<div class="container-fluid">
  <div class="row justify-content-center jumbotron">
      Langauge App 
      <button>Logout</button>
  </div>
  <div class="row appbody">
      <div class="col-md-12 sideNavRow">
          <mat-drawer-container autosize class="example-container">
              <mat-drawer class="example-sidenav" mode="side" opened>
                     jkhkjhjkhjk
              </mat-drawer>
              <router-outlet></router-outlet> 
          </mat-drawer-container>
      </div>
  </div>
  
</div> 

